# Akses Data

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

# Import Librari

In [0]:
import numpy as np
import matplotlib.pyplot as plt 
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn import metrics

# Load Data

data yang dipakai merupakan data penyakit jantung dari Cleveland Clinic Foundation
[sumber](https://archive.ics.uci.edu/ml/datasets/Heart+Disease)<br/>
data dapat di download pada link berikut https://drive.google.com/open?id=1P45YmDyVHllfrht2bvLPQw6KvVeqwHnx

keterangan fitur :<br/>
age — age in years<br/>
sex — (1 = male; 0 = female)<br/>
cp — chest pain type<br/>
trestbps — resting blood pressure (in mm Hg on admission to the hospital)<br/>
chol — serum cholestoral in mg/dl<br/>
fbs — (fasting blood sugar > 120 mg/dl) (1 = true; 0 = false)<br/>
restecg — resting electrocardiographic results<br/>
thalach — maximum heart rate achieved<br/>
exang — exercise induced angina (1 = yes; 0 = no)<br/>
oldpeak — ST depression induced by exercise relative to rest<br/>
slope — the slope of the peak exercise ST segment<br/>
ca — number of major vessels (0–3) colored by flourosopy<br/>
thal — 3 = normal; 6 = fixed defect; 7 = reversable defect<br/>
target — have disease or not (1=yes, 0=no)<br/>

In [0]:
#path_data diisi dengan alamat directori data anda menyimpannya
path_data = '/content/drive/My Drive/processed_cleveland_data.csv'

data = pd.read_csv(path_data)

data

      age  sex   cp  trestbps   chol  ...  oldpeak  slope   ca  thal  target
0    63.0  1.0  1.0     145.0  233.0  ...      2.3    3.0  0.0   6.0       0
1    67.0  1.0  4.0     160.0  286.0  ...      1.5    2.0  3.0   3.0       1
2    67.0  1.0  4.0     120.0  229.0  ...      2.6    2.0  2.0   7.0       1
3    37.0  1.0  3.0     130.0  250.0  ...      3.5    3.0  0.0   3.0       0
4    41.0  0.0  2.0     130.0  204.0  ...      1.4    1.0  0.0   3.0       0
..    ...  ...  ...       ...    ...  ...      ...    ...  ...   ...     ...
292  57.0  0.0  4.0     140.0  241.0  ...      0.2    2.0  0.0   7.0       1
293  45.0  1.0  1.0     110.0  264.0  ...      1.2    2.0  0.0   7.0       1
294  68.0  1.0  4.0     144.0  193.0  ...      3.4    2.0  2.0   7.0       1
295  57.0  1.0  4.0     130.0  131.0  ...      1.2    2.0  1.0   7.0       1
296  57.0  0.0  2.0     130.0  236.0  ...      0.0    2.0  1.0   3.0       1

[297 rows x 14 columns]

# Retrieval
proses retrieval menggunakan algoritma K-Nearest Neighbour dengan nilai K = 5 [(K-NN)](https://informatikalogi.com/algoritma-k-nn-k-nearest-neighbor/)<br/>
perhitungan distance menggunakan minkowski [(minkowski)](https://en.wikipedia.org/wiki/Minkowski_distance#:~:targetText=The%20Minkowski%20distance%20is%20a,distance%20and%20the%20Manhattan%20distance.)<br/>
indexing yang digunakan adalah KD Tree [(kd tree)](https://en.wikipedia.org/wiki/K-d_tree)<br/>

In [0]:
#memisahkan data dengan label
X = data.iloc[:,:-1].values
y = data.iloc[:,13].values

#proses retrieval
classifier = KNeighborsClassifier(n_neighbors = 5, algorithm='kd_tree', metric = 'minkowski', p = 2)
classifier = classifier.fit(X,y)

# Reuse

In [0]:
#@title Example form fields
#@markdown Forms support many types of fields.

age = 67  #@param {type: "number"}

sex = "male"  #@param ['male','female']
if sex=="male":
  sex = 1
else:
  sex = 0

cp	= 4  #@param {type: "number"}
trestbps	= 160  #@param {type: "number"}
chol	= 286  #@param {type: "number"}

#@markdown fasting blood sugar > 120 mg/dl ?
fbs	= "true"  #@param ['true','false']
if fbs=="false":
  fbs = 0
else:
  fbs = 1

restecg	= 2  #@param {type: "number"}
thalach	= 108  #@param {type: "number"}

exang	= "yes"  #@param ['yes','no']
if exang=="no":
  exang = 0
else:
  exang = 1
  
oldpeak	= 1.5  #@param {type: "number"}
slope	= 2  #@param {type: "number"}
ca = 3  #@param {type: "slider", min: 0, max: 3}

#@markdown thal 3 = normal; 6 = fixed defect; 7 = reversable defect
thal  = "6"  #@param [3,6,7]
thal = int(thal)

#@markdown ---

input_data = [[age, sex, cp, trestbps, chol, fbs, restecg, thalach, exang, oldpeak, slope, ca, thal]]
print(input_data)
hasil = classifier.predict(input_data)
print(hasil)
#distances, indices = classifier.kneighbors(X)

#print(distances)
#print(indices)

if hasil[0]==0:
  print('tidak berpenyakit jantung')
else:
  print('berpenyakit jantung')

[[67, 1, 4, 160, 286, 1, 2, 108, 1, 1.5, 2, 3, 6]]
[1]
berpenyakit jantung